.logo img{
    width: 20px;
    height: 100px;

}

.header-area .main-nav{
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

.page-content{
    margin-top: 200px !important;
}






